<!DOCTYPE html>
<html>
<head>
    <title>re:Cruit</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css', q='adfaas')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/mypage.css', q='aaaaaaa')}}">
</head>
<body>
    <div class="header">
        <a class="logo" href="/">re:Cruit</a>
        <a class="logo_button" href="/search" type="submit">Search</a>
    </div>

    <div class="contents">
        <form action="/_search" method="POST">
            <input type="text" name="query" placeholder="        Search student, company, position, course, etc." />
            <button type="submit">Search</button>
        </form>

        <p>Search Results...</p>

        {% if students.count() %}
        <h2>Students</h2>
        <table class="fulltable">
            <tr>
                <th>Name</th>
                <th>Institution</th>
                <th>Major</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{student['Fname']}} {{student['Lname']}}</td>
                <td>{{student['Institution']}}</td>
                <td>{{student['Major']}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if companies.count() %}        
        <h2>Companies</h2>
        <table class="fulltable">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
            {% for company in companies %}
            <tr>
                <td>{{company['name']}}</td>
                <td>{{company['email']}}</td>
                <td>{{company['address']}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if positions.count() %}
        <h2>Positions</h2>
        <table class="fulltable"> 
            <tr>
                <th>Job Title</th>
                <th>Offered by</th>
                <th>Description</th>
                <th>Required Skills</th>
            </tr>
            {% for position in positions %}
            <tr>
                <td>{{position['name']}}</td>
                <td>{{position['company']}}</td>
                <td>{{position['description']}}</td>
                <td>{{position['skills']}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if courses.count() %}
        <h2>Courses</h2>
        <table class="fulltable">
            <tr>
                <th>Code</th>
                <th>Open At</th>
                <th>Name</th>
                <th>Credit</th>
                <th>Professor</th>
            </tr>
            {% for course in courses %}
            <tr>
                
                <td>{{course['code']}}</td>
                <td>{{course['Institution']}}</td>
                <td>{{course['name']}}</td>
                <td>{{course['credit']}}</td>
                <td>{{course['Professor']}}</td>
                
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

</body>
</html>